<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data-select vs Select Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #myElement {
          white-space: pre;
        }
        span {
          white-space: pre;
        }
    </style>
</head>
<body>
<div id="myElement" data-select="initialValue">Hello World</div>
<div id="myElement1">Hello&nbsp;&nbsp;&nbsp;World1</div>
<pre>Hello   World2</pre>
<span>Hello   World3</span>

<h1>Non-breaking space</h1>

<p>在HTML 中，"&nbsp;"代表不间断空格（Non-breaking space）。</p>
<p>准确的称呼是 HTML 字符实体 (HTML Character Entity)</p>
<p>Cross-site scripting，XSS</p>
<p>クロスサイト・スクリプティング</p>

<form action="YourJavaServletURL" method="POST">
    <label for="userInput">Input:</label>
    <input type="text" id="userInput" name="userInput" required>
    <input type="submit" value="submit">
</form>

</body>
</html>
