<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册</title>
</head>
<body>
<h1>注册</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
    <label for="name">姓名：</label>
    <input type="text" id="name" th:field="*{name}" th:errorclass="error"><br>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span><br>

    <label for="age">年龄：</label>
    <input type="text" id="age" th:field="*{age}" th:errorclass="error"><br>
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="error"></span><br>

    <label for="email">邮箱：</label>
    <input type="text" id="email" th:field="*{email}" th:errorclass="error"><br>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span><br>

    <label for="note">备注：</label>
    <input type="text" id="note" th:field="*{note}" th:errorclass="error"><br>
    <span th:if="${#fields.hasErrors('note')}" th:errors="*{note}" class="error"></span><br>

    <label for="note">MsgType：</label>
    <input type="text" id="msgType" th:field="*{msgType}" th:errorclass="error"><br>
    <span th:if="${#fields.hasErrors('msgType')}" th:errors="*{msgType}" class="error"></span><br>

    <button type="submit">提交</button>
</form>
</body>
</html>